@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This project is about downloading mars rover images using NASA Mars Rover Photos API. API.Client (Downloader) calls the Mars Rover Photos API with a given day as input and download images of all mars camera locally.</p>
